<header class="w-full border-b border-gray-200 bg-[#f3f7f6]">
  <div class="max-w-7xl mx-auto px-6 h-16 flex items-center justify-between">

    <div class="flex items-center gap-10">

      <h1
        routerLink="/"
        class="text-2xl font-bold text-[#0f7a43] cursor-pointer"
      >
        BizCode
      </h1>

      <nav class="hidden md:flex items-center gap-8 text-sm text-gray-600">

        <a
          href="#"
          class="hover:text-[#0f7a43] transition"
        >
          Hỗ trợ
        </a>

        <a
          href="#"
          class="hover:text-[#0f7a43] transition"
        >
          Trung tâm trợ giúp
        </a>

      </nav>

    </div>

    <div class="flex items-center gap-4">

      <button
        routerLink="/register"
        class="bg-[#35b56a] hover:bg-[#2ca15d] text-white text-sm font-semibold px-5 py-2 rounded-md transition"
      >
        Đăng nhập
      </button>

      <button
        routerLink="/register"
        class="bg-[#35b56a] hover:bg-[#2ca15d] text-white text-sm font-semibold px-5 py-2 rounded-md transition"
      >
        Đăng ký
      </button>

    </div>

  </div>
</header>